@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,400&family=Roboto:wght@300;400;500;700;900&family=Rubik:wght@400;500&display=swap');
h1 ,h4 ,ul li {
    font-family: 'Roboto', sans-serif;
}
#city-input, #weather-output {
    max-width: 400px;
    margin: 0 auto;
}
  
.banner {
    color: #FFD23F;
    font-family: sans-serif;
}

#footer{
    font-size: 1em;
    font-family: 'Rubik', sans-serif;
}